<div class = "container-fluid about-page">
	<div class = "row">
		<div class = "col-md-8 col-md-offset-2">
			<h1>About The LinAlg Toolkit</h1>
			<p>The LinAlg Toolkit is a quick helper for linear algebra! Here's what it does so far:
			</p>
      <ul>
        <li>RREFs matrices</li>
        <li>Row, column, and null spaces</li>
        <li>Transposes</li>
        <li>Determinants</li>
        <li>Inverse matrices</li>
        <li>Polar-Rectangular form conversion for complex numbers</li>
        <li>Multiplication and division of complex numbers in rectangular form</li>
      </ul>
      <p>Built by <a href = "http://github.com/DeonHua">Deon Hua</a>, a Software Engineering student at the University of Waterloo.
      You can find this project on <a href = "http://github.com/DeonHua/linAlg">GitHub</a>.</p>
			<p>Developed with AngularJS, MathJax, Flask, Sympy, and Python.</p>
			<p id = "footer">Made with love.</p>
		</div>
	</div>
</div>