<!--Navbar-->
<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#/">LinAlg Toolkit Alpha</a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="#/">Matrices</a></li>
      <li class="active"><a href = "#/complex" class = "active">Complex Numbers<span class="sr-only">(current)</span></a></li>
      <li><a href="#/about">About</a></li>
    </ul>
  </div>
</div>
</nav>

<div class = "container-fluid">
  <div class = "row">
    <div class = "col-md-10 col-md-offset-1">
      <ul class = "nav nav-pills">
        <li role = "presentation" class = "active"><a href = "/#/complex/#converter" aria-controls = "converter"
                                                      role = "tab" data-toggle = "pill">Rectangular-Polar Converter</a></li>
        <li role = "presentation"><a href = "/#/complex/#operations" aria-controls = "operations"
                                     role = "tab" data-toggle = "pill">Complex Operations</a></li>
      </ul>

      <div class = "tab-content">
        <div role = "tabpanel" class = "tab-pane fade in active" id = "converter" ng-controller="ConversionController">
          <h2>Rectangular-Polar Converter</h2>
            <table class = "table">
              <tr>
                <td class = "complex-text">Rectangular Form (a+bi)</td>
                <td class = "complex-text">to</td>
                <td class = "complex-text">Polar Form (r cisθ)</td>
              </tr>
              <tr>
                <td>
                  <input class = "form-control input-lg complexInput" placeholder = "Real" ng-model = "real" ng-change = "toPolar()">
                  <span class = "complex-text"> + </span>
                  <input class = "form-control input-lg complexInput" placeholder = "Imaginary" ng-model = "imaginary" ng-change = "toPolar()">
                  <span class = "complex-text">i</span>
                </td>
                <td id = "equal">
                  <span class = "complex-text"> = </span>
                </td>
                <td>
                  <input class = "form-control input-lg complexInput" placeholder = "Magnitude" ng-model = "magnitude" ng-change = "toRectangular()">
                  <span class = "complex-text"> cis </span>
                  <input class = "form-control input-lg complexInput" placeholder = "Argument" ng-model = "argument" ng-change ="toRectangular()">
                  <button class = "btn btn-lg btn-primary" type = "button" ng-click = "changeUnits()">{[{button}]}</button>
                </td>
              </tr>
            </table>

          <div class = "row">
            <div class = "col-md-4 col-md-offset-4">
              <p class = "bg-danger" ng-show = "error != null">{[{error}]}</p>
            </div>
          </div>
        </div>
        <div role = "tabpanel" class = "tab-pane fade" id = "operations" ng-controller="OperationsController">
          <h2>Complex Operations</h2>
          <p>Complex Multiplication/Division is a lot simpler in polar form!</p>
          <p>For multiplication, simply multiply the magnitudes and add the arguments. For division, divide the magnitudes and subtract the arguments.</p>
          <form class = "form form-inline">
            <div class = "form-group">
              <input class = "form-control input-lg operationInput" placeholder = "Real" type = "number" ng-model = "num1[0]" ng-change = "findAns()">
              <span class = "complex-text"> + </span>
              <input class = "form-control input-lg operationInput" placeholder = "Imaginary" type = "number" ng-model = "num1[1]" ng-change = "findAns()">
              <span class = "complex-text">i</span>
              <select class = "form-control" id = "sign" ng-model = "operation" ng-change = "findAns()">
                <option value = "x">×</option>
                <option value = "/">÷</option>
              </select>
              <input class = "form-control input-lg operationInput" placeholder = "Real" type = "number" ng-model = "num2[0]" ng-change = "findAns()">
              <span class = "complex-text"> + </span>
              <input class = "form-control input-lg operationInput" placeholder = "Imaginary" type = "number" ng-model = "num2[1]" ng-change = "findAns()">
              <span class = "complex-text">i</span>
              <span class = "complex-text" ng-show = "ans[0] && ans[1]"> = {[{ans[0]}]} + {[{ans[1]}]}i</span>
            </div>
          </form>
          <div class = "row error">
            <div class = "col-md-4 col-md-offset-4">
              <p class = "bg-danger" ng-show = "error != null">{[{error}]}</p>
            </div>
          </div>
        </div>
      </div>
      <p id = "footer">Made with love.</p>
    </div>
  </div>
</div>