
//----------- COLOUR PALETTE ---------------

//B/W Hues
$white: #FFFFFF;
$lightGrey: #B0B0B0;
$Grey: #808080;
$darkGrey: #505050;
$black: #000000;

//Primary Palette - Deep Purple 200, 500, 800
$lightPurple: #B39DDB;
$Purple: #673AB7;
$darkPurple: #512DA8;

//Secondary Palette - Amber 50, 100, 500, 700
$background: #FFF8E1;
$lightAmber: #FFECB3;
$Amber: #FFC107;
$darkAmber: #FFA000;

//------------ END COLOUR PALETTE

/* Navbar stuff. */
.navbar-default{
  border-radius: 0;
  background-color: $darkAmber;
  border: 0;
  color: $white;

  /* Navbar button on mobile. */

  .navbar-toggle, .navbar-toggle:focus{
    background-color: $darkAmber;
    color: inherit;
    border-radius: 0;

    .icon-bar{
      background-color: $white;
      border-radius: inherit;
    }
    &:hover{
      background-color: $Amber;
    }
  }

  /*Branding*/
  .navbar-brand{
    font-size: 1.4em;
    color: inherit;

    &:hover{
      color: $Grey;
    }
  }

  .navbar-collapse{
    border: none;
  }

  /*Other Links*/
  .navbar-nav li a {
    color: $white;
    font-size: 1.1em;

    &:hover {
      color: $Grey;
    }
  }
  /*Currently active links */
  .navbar-nav .active a{
    background-color: $Amber;
    color: $white;

    &:hover {
      color: $Grey;
      background-color: $Amber;
    }
  }
} 

* {
  font-family: sans-serif;
  text-align: center;
}

.inputField{
  max-width: 110px;
  border-radius: 0;
  height: 40px;
  font-size: 20px;
}

#footer{
  margin-top: 20px;
  color: $darkGrey;
}

td, th{
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

table{
  padding-top: 20px;
}
form{
  padding-bottom: 20px;
}

body{
  background-color: $background;
}
.btn{
  border-radius: 0;
}

.btn-primary, .btn-primary:focus{
  background-color: $darkAmber;
  border-color: $Amber;
  border-radius: 0;
  height: 40px;
  font-size: 20px;
  box-shadow: 0;
  &:hover{
    background-color: $Amber;
    border-color: $darkAmber;
  }
}
