
//----------- COLOUR PALETTE ---------------

//B/W Hues
$white: #FFFFFF;
$lightGrey: #B0B0B0;
$Grey: #808080;
$darkGrey: #505050;
$black: #000000;


//Primary Palette - Amber 50, 100, 500, 700
$background: #FFF8E1;
$lightAmber: #FFECB3;
$Amber: #FFC107;
$darkAmber: #FFA000;

//Secondary Palette - Green A200, A400, A700
$lightGreen: #69F0AE;
$Green: #00E676;
$darkGreen: #00C853;

//Backup Palette - Deep Purple 200, 500, 800
$lightPurple: #B39DDB;
$Purple: #673AB7;
$darkPurple: #512DA8;
//------------ END COLOUR PALETTE

/* Navbar stuff. */
.navbar-default{
  border-radius: 0;
  background-color: $darkAmber;
  border: 0;
  color: $white;

  /* Navbar button on mobile. */

  .navbar-toggle, .navbar-toggle:focus{
    background-color: $darkAmber;
    color: inherit;
    border-radius: 0;

    .icon-bar{
      background-color: $white;
      border-radius: inherit;
    }
    &:hover{
      background-color: $Amber;
    }
  }

  /*Branding*/
  .navbar-brand{
    font-size: 1.4em;
    color: inherit;

    &:hover{
      color: $Grey;
    }
  }

  .navbar-collapse{
    border: none;
  }

  /*Other Links*/
  .navbar-nav li a {
    color: $white;
    font-size: 1.1em;

    &:hover {
      color: $Grey;
    }
  }
  /*Currently active links */
  .navbar-nav .active a{
    background-color: $Amber;
    color: $white;

    &:hover {
      color: $Grey;
      background-color: $Amber;
    }
  }
} 

* {
  font-family: sans-serif;
  text-align: center;
}

.inputField{
  border-radius: 0;
  height: 40px;
  font-size: 20px;
}

.matrixField{
  border-radius: 0;
  height: 40px;
  font-size: 20px;
  max-width: 70px;
}


#footer{
  margin-top: 20px;
  color: $Grey;
  text-align: center;
}

.col-xs-6{
  padding-top: 10px;
}

.about-page > .row > .col-xs-12 > h1, .about-page > .row > .col-xs-12 > p{
  text-align: left;
}
td, th{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  text-align: center;
}

td.matrixElement{
  padding: 0;
  text-align: center;
}

table{
  padding-top: 20px;
}
form{
  padding-bottom: 20px;
}

body{
  background-color: $background;
}

li{
  text-align: left;
}
.bg-danger{
  padding: 10px 5px 10px 10px;
  border-radius: 1px;
}
.btn{
  border-radius: 0;
  height: 40px;
  font-size: 20px;
}

.btn-primary, .btn-primary:focus{
  background-color: $darkAmber;
  border-color: $Amber;
  border-radius: 0;
  height: 40px;
  font-size: 20px;
  &:hover{
    background-color: $Amber;
    border-color: $darkAmber;
  }
}

.matrixButtons{
  margin-bottom: 10px;
}
