<!DOCTYPE html>
<html ng-app="LinAlgToolkit" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>LinAlg | Matrices</title>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/style.css">

  <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  <script src="https://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js" type="text/javascript"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-animate.js" type = "text/javascript"></script>
  <script src="/static/script.js" type="text/javascript"></script>
</head>

<!--Navbar-->
<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">LinAlg Toolkit Alpha</a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/" class = "active">Matrices<span class="sr-only">(current)</span></a></li>
      <li><a href = "/complex.html">Complex Numbers</a></li>
      <li><a href="/about.html">About</a></li>
    </ul>
  </div>
</div>
</nav>

<body ng-controller="MatrixController">
<div class = "container-fluid">
  <div class = "row">
    <div class = "col-md-10 col-md-offset-1">
      <h2>Matrix Reducer</h2>
      <form class="form" role="form" ng-show = "isSizeSet == false">
        <p>Enter the size of your matrix.</p>
        <div class="form-group">
          <div class = "row">
            <div class = "col-xs-6 col-md-3 col-md-offset-2">
              <input class="form-control input-lg" placeholder="Rows" ng-model = "rows" >
            </div>
            <div class = "col-xs-6 col-md-3">
              <input class="form-control input-lg" placeholder="Columns" ng-model = "cols">
            </div>
            <div class = "col-xs-6 col-xs-offset-3 col-md-2 col-md-offset-0">
              <button type="submit" class="btn btn-lg btn-primary submit" ng-click = setSize()>Set Size!</button>
            </div>
          </div>
        </div>
      </form>

      <div ng-show = "isSizeSet == true">
        <p>Enter your matrix!</p>
        <form class="form" role="form">
          <div class="form-group">
            <table align = "center">
              <tr ng-repeat = "row in getRows() track by $index">
                <td class = "matrixElement" ng-repeat = "col in getCols() track by $index" >
                  <input class="form-control input-lg matrixField" ng-model = "inputMatrix[$parent.$index][$index]">
                </td>
              </tr>
            </table>
            <button ng-click = "displayMatrix()" type = "button" class = "btn btn-lg btn-primary matrixButtons">RREF it!</button>
            <button ng-click = "isSizeSet = !isSizeSet" type = "button" class = "btn btn-lg btn-default matrixButtons">Change Size</button>
          </div>
        </form>
        <div class = "table-responsive">
          <table ng-show = "response" align = "center" class = "table">
            <tr>
              <th>Matrix Properties</th>
              <th>Original Matrix</th>
              <th>Transpose</th>
              <th>Column Space (Basis)</th>
              <th>Row Space (Basis)</th>
              <th>Null Space (Basis)</th>
            </tr>
            <tr>
              <td>
                <ul class = "list-unstyled">
                  <li>Rank: {[{response.rank}]}</li>
                  <li>Nullity: {[{response.nullity}]}</li>
                  <li ng-if = "response.det">Determinant: {[{response.det}]}</li>
                  <li ng-if = "response.trace">Trace: {[{response.trace}]}</li>
                </ul>
              </td>
              <td ng-if="response.original">{[{response.original}]}</td>
              <td ng-if="response.transpose">{[{response.transpose}]}</td>
              <td>
                <table class = "space-table table" align = "center">
                  <tr>
                  <td ng-repeat = "vector in response.colspace">{[{vector}]}</td>
                  </tr>
                </table>
              </td>
              <td>
                <table class = "space-table table" align = "center">
                  <tr>
                  <td ng-repeat = "vector in response.rowspace">{[{vector}]}</td>
                  </tr>
                </table>
              </td>
              <td ng-if = "response.nullity != 0">
                <table class = "space-table table" align = "center">
                  <tr>
                    <td ng-repeat = "vector in response.nullspace">{[{vector}]}</td>
                  </tr>
                </table>
              </td>
              <td ng-if="response.nullity == 0">Trivial (nullity is 0)</td>
            </tr>
            <tr ng-if = "response.inverse">
              <th>RREF Matrix</th>
              <th>RREF</th>
              <th>RREF Transpose</th>

              <th>Inverse Matrix</th>
              <th>Inverse</th>
              <th>Inverse Transpose</th>

            </tr>
            <tr ng-if = "response.inverse">
              <td>
                <ul class= "list-unstyled">
                  <li ng-if = "response.rrefDet">Determinant: {[{response.rrefDet}]}</li>
                  <li ng-if = "response.rrefTrace">Trace: {[{response.rrefTrace}]}</li>
                </ul>
              </td>
              <td ng-if="response.rref">{[{response.rref}]}</td>
              <td ng-if="response.rrefTranspose">{[{response.rrefTranspose}]}</td>

              <td>
                <ul class = "list-unstyled">
                  <li>Determinant: {[{response.inverseDet}]}</li>
                  <li>Trace: {[{response.inverseTrace}]}</li>
                </ul>
              </td>
              <td>{[{response.inverse}]}</td>
              <td>{[{response.inverseTranspose}]}</td>
            </tr>
            <tr ng-if = "!response.inverse">
              <th colspan = "2">RREF Matrix</th>
              <th colspan = "2">RREF</th>
              <th colspan = "2">RREF Transpose</th>
            </tr>
            <tr ng-if = "!response.inverse">
              <td colspan = "2">
                <ul class= "list-unstyled">
                  <li ng-if = "response.rrefDet">Determinant: {[{response.rrefDet}]}</li>
                  <li ng-if = "response.rrefTrace">Trace: {[{response.rrefTrace}]}</li>
                </ul>
              </td>
              <td colspan = "2">{[{response.rref}]}</td>
              <td colspan = "2">{[{response.rrefTranspose}]}</td>
            </tr>
          </table>
        </div>
      </div>

      <div class = "row">
        <div class = "col-md-4 col-md-offset-4">
          <p class = "bg-danger" ng-show = "error != null">{[{error}]}</p>
        </div>
      </div>
      <p id = "footer">Made with love.</p>
    </div>
  </div>
</div>
</body>
<!--Google Analytics-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57869806-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');
</script>
</html>